# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apps/web/node_modules
/apps/api/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/apps/web/coverage

# next.js
/apps/web/.next/
/apps/web/out/

# production
/apps/web/build

# misc
.DS_Store
*.pem

# debug
/apps/web/npm-debug.log*
/apps/web/yarn-debug.log*
/apps/web/yarn-error.log*

# local env files
/apps/web/.env*.local
.env

# vercel
/apps/web/.vercel

# typescript
/apps/web/*.tsbuildinfo
/apps/web/next-env.d.ts

# user dbs
/apps/api/user_dbs/*
!/apps/api/user_dbs/.gitkeep

# push
p.ps1